input/MataData.xlsx
input/ReadsNumb_BGI.csv
input/ReadsNumb_FS.csv
input/scode_vcode.xlsx
results/meta.xlsx
results/meta_rn.xlsx
results/ReadsNumb_both_sets.xlsx
results/Overlaping_samples.xlsx
input/all_Illumina_raw_path.csv
input/name_Illumina_p1.csv
input/.MataData.xlsx.icloud
input/name_BGI_p1.csv
results/BGI_raw_path_p2.csv
input/all_BGI_raw_path.csv
results/Illumina_raw_path_p2.csv
